<div class="post">
  <div class="header">
    <h1>Title</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>date</strong>
    <small>author</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda at beatae corporis cum deserunt distinctio dolore error esse excepturi facere facilis fugit laborum, magni obcaecati omnis quaerat ratione similique sunt tempora ut vel veritatis? Eaque enim, labore magnam, minima, nulla officia recusandae reprehenderit suscipit tenetur unde velit vitae voluptate?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda at beatae corporis cum deserunt distinctio dolore error esse excepturi facere facilis fugit laborum, magni obcaecati omnis quaerat ratione similique sunt tempora ut vel veritatis? Eaque enim, labore magnam, minima, nulla officia recusandae reprehenderit suscipit tenetur unde velit vitae voluptate?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda at beatae corporis cum deserunt distinctio dolore error esse excepturi facere facilis fugit laborum, magni obcaecati omnis quaerat ratione similique sunt tempora ut vel veritatis? Eaque enim, labore magnam, minima, nulla officia recusandae reprehenderit suscipit tenetur unde velit vitae voluptate?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda at beatae corporis cum deserunt distinctio dolore error esse excepturi facere facilis fugit laborum, magni obcaecati omnis quaerat ratione similique sunt tempora ut vel veritatis? Eaque enim, labore magnam, minima, nulla officia recusandae reprehenderit suscipit tenetur unde velit vitae voluptate?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda at beatae corporis cum deserunt distinctio dolore error esse excepturi facere facilis fugit laborum, magni obcaecati omnis quaerat ratione similique sunt tempora ut vel veritatis? Eaque enim, labore magnam, minima, nulla officia recusandae reprehenderit suscipit tenetur unde velit vitae voluptate?</p>
  </div>


</div>
